<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleados e idiomas</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        .container {
            max-width: 900px;
            margin: auto;
            padding-top: 20px;
        }

        a {
            margin-right: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            background-color: #000100;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        td, th {
            padding: 10px;
            text-align: center !important;
        }

        .buttons {
            margin-bottom: 20px;
        }

        .table-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="title is-3">Lista de Empleados e Idiomas</h1>

    <div class="buttons">
        <a class="button is-info" href="/index">Regresar a índice</a>
    </div>

    <% if (empleados_idiomas.length > 0) { %>
        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Código de Empleado</th>
                    <th>Empleado</th>
                    <th>Código de Idioma</th>
                    <th>Idioma</th>
                    <th>Tiempo de saber idioma (fecha)</th>
                </tr>
                </thead>
                <tbody>
                <% empleados_idiomas.forEach(emplempleado_idioma => { %>
                    <tr onclick="window.location.href='/empleado_idiomas/empleado/<%= emplempleado_idioma.codigo_empleado %>/idiomas';" style="cursor:pointer;">
                        <td><%= emplempleado_idioma.codigo_empleado %></td>
                        <td><%= emplempleado_idioma.Nombre %></td>
                        <td><%= emplempleado_idioma.codigo_idioma %></td>
                        <td><%= emplempleado_idioma.idioma %></td>
                        <td><%= emplempleado_idioma.fecha %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <p>No existen empleados con idiomas</p>
    <% } %>
</div>

</body>
</html>
