<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>empleados</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        thead {
            background-color: #000100;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
</head>
<body>
<h1>Lista de empleados</h1>
<a href="/index">Regresar a Indice</a><br>
<a href="/empleados/crear">Agregar empleado</a>
<table>
    <thead>
    <tr>
        <td>Codigo</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Fecha de contratacion</td>
        <td>Sueldo</td>
        <td>Telefono</td>
        <td></td>
        <td>Leng</td>
    </tr>
    </thead>
    <tbody>
    <% empleados.forEach(empleado => { %>
        <tr>
            <td><%= empleado.codigo %></td>
            <td><%= empleado.nombre %></td>
            <td><%= empleado.apellido %></td>
            <td><%= empleado.fecha_contratacion %></td>
            <td><%= empleado.sueldo %></td>
            <td><%= empleado.telefono %></td>
            <td>
                <a href="/empleados/editar/<%= empleado.codigo %>">
                    <img src="static/resources/edit_square_24dp.svg" alt="Editar" width="24" height="24">
                </a>
                <a href="/empleados/ver/<%= empleado.codigo %>">
                    <img src="static/resources/visibility_24dp.svg" alt="Ver" width="24" height="24">
                </a>
                <a href="/empleados/eliminar/<%= empleado.codigo %>">
                    <img src="static/resources/delete_24dp.svg" alt="Eliminar" width="24" height="24">
                </a>
            </td>
            <td>
                <a href="/empleado_idiomas/empleado/<%= empleado.codigo %>/idiomas">
                    <img src="static/resources/voice_selection_24dp.svg" alt="Eliminar" width="24" height="24">
                </a>
            </td>

        </tr>
    <% }) %>
    </tbody>
</table>
</body>
</html>
