<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ver Empleado</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        .container {
            max-width: 500px;
            margin: auto;
            padding-top: 20px;
        }

        a {
            margin-top: 10px;
        }

        input:disabled {
            background-color: #f5f5f5;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="title is-3">Ver Empleado</h1>

    <a class="button is-info" href="/empleados">Regresar</a>

    <form action="/empleados/ver/<%= empleado.codigo%>" method="post" class="box">
        <div class="field">
            <label class="label" for="nombre">Nombre</label>
            <div class="control">
                <input class="input" type="text" name="nombre" value="<%= empleado.nombre %>" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label" for="apellido">Apellido</label>
            <div class="control">
                <input class="input" type="text" name="apellido" value="<%= empleado.apellido %>" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label" for="fecha_contratacion">Fecha de Contratación</label>
            <div class="control">
                <input class="input" type="text" name="fecha_contratacion" value="<%= empleado.fecha_contratacion %>" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label" for="sueldo">Sueldo</label>
            <div class="control">
                <input class="input" type="number" name="sueldo" value="<%= empleado.sueldo %>" disabled>
            </div>
        </div>

        <div class="field">
            <label class="label" for="telefono">Teléfono</label>
            <div class="control">
                <input class="input" type="text" name="telefono" value="<%= empleado.telefono %>" disabled>
            </div>
        </div>
    </form>
</div>

</body>
</html>
