<!doctype html>
<html lang="en">
<head>
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Cliente</h1>
    <a href="/clientes">Regresar</a>
    <form action="/clientes/editar/<%= cliente.codigo%>" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value ="<%= cliente.nombre %>" placeholder="Nombre" required><br>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" value ="<%= cliente.apellido %>" placeholder="Apellido" required><br>
        <label for="edad">Edad:</label>
        <input type="number" name="edad" value ="<%= cliente.edad %>" placeholder="Edad" required><br>
        <label for="telefono">Telefono:</label>
        <input type="text" name="telefono" value ="<%= cliente.telefono %>" placeholder="Telefono" required><br>
        <label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" value ="<%= cliente.ciudad %>" placeholder="Ciudad" required><br>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>